.env
.idea/
/data/
/output/
/.venv/
/test_output/*
/src/mobi_bot.egg-info/
/models/
/config.yaml
__pycache__
/mobi_bot.egg-info
containers/cosyvoice/models
containers/cosyvoice/data
containers/silero_tts/models
containers/silero_tts/data